language: node_js
node_js:
    - 8
    - 7
    - 6
before_install:
    - npm install -g npm
    - npm install -g codecov
    - npm install -g greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
after_success:  npm run coverage
